<p>{{ page.title }}</p>{{ content }}{% for l in page.links %}[{{ l.text }}={{ l.url }}{% if l.external %}!{% endif %}]{% endfor %}{% for h in page.headings %}(#{{ h.id }}){% endfor %}{% for u in page.store.get("seen") %}<{{ u }}>{% endfor %}|{{ page.summary }}|
